

.header {
    font-family: 'Roboto', Helvetica;
    font-weight: 500;
    font-size: 80px;
    line-height: 69%;
}

.viral {
    font-family: inherit;
    font-weight: 900;
    font-size: 180px;
}

.paragraph {
    font-weight: 500;
}